{% load static %}
{% include 'shop/base.html' %}


{% block content %}
<div class="cartWindow">
      <h1 style="color: #0a0043; position: relative; top: -10px" align="center">Ваша корзина товаров</h1>
      <table class="carttable">
        <thead>
          <tr style="background: rgba(180,180,180,0.1)">
            <td><b class="solid">Изображение</b></td>
            <td><b class="solid">Продукт</b></td>
            <td><b class="solid">Количество</b></td>
            <td><b class="solid">Удалить</b></td>
            <td><b class="solid">Полная цена</b></td>
            <td><b class="solid">Цена</b></td>
          </tr>
        </thead>
        <tbody>
          {% for item in cart %}
            {% with product=item.product %}
              <tr style="color: #0a0043; height: 100px">
                <td>
                  <!--<a href="{{ product.get_absolute_url }}">-->
                    <img src="{{ product.img }}" alt="" style="height: 75px"/>
                  </a>
                </td>
                <td>{{ product.name }}</td>
                <td>
                    <form action="{% url "cart:CartAdd" product.id %}" method="post" style="position: relative; top: 17px">  
                        {{ item.update_quantity_form.quantity }}
                        {{ item.update_quantity_form.update }}
                        {% csrf_token %}
                        <div class="relative"><button class="refresh" type="submit"><img src="http://www.gif-chat.com/logos/reload_red.png" height="20px"/></button></div>
                    </form>
                </td>  
                <td><a class="solid" href="{% url "cart:CartRemove" product.id %}">Удалить</a></td>
                <td class="num">{{ item.price }} UAH.</td>
                <td class="num">{{ item.total_price }} UAH.</td>
              </tr>
            {% endwith %}
          {% endfor %}
            <tr style="background-color: #ff7100">
              <td><b>Total</b></td>
              <td colspan="4"></td>
              <td class="num"><b>{{ cart.get_total_price }} UAH.</b></td>
            </tr>
        </tbody>
      </table>
      <div style="position: relative; top: 18px; right: 0%">
          <p class="text-right">
            <a href="{% url 'shop:ProductList' %}" class="solid"><button class="categoryButton"><h5>Продолжить Шопинг</h5></button></a>
            <a href="{% url 'orders:OrderCreate' %}"><button class="categoryButton"><h5 class="solid">Оформить заказ</h5></button></a>
          </p>
        </div>  
  </div>
  <script>
  $(function() {
    $("#q").autocomplete({
      source: 'search',
      minLength: 2,
      select: function(a,b) {
          $(this).val(b.item.value);
          $("#Search").submit()
      }
    });
  });
</script>
{% endblock %}