{% include 'shop/base.html' %}

{% load static %}

<div class="brandWindow">
    {% if brands %}
        {% for brand in brands %}
            <a href="{{ brand.get_absolute_url }}">
                <button class="brand">
                    <img src="{{ brand.img }}" class="brand_img">
                </button>
            </a>
        {% endfor %}
    {% elif brand %}
        <img src="{{ brand.img }}" style="position: relative; width: 40%; max-height: 200px; left: 30%">
        <p style="text-align: center; color: #0a0043; position: relative; top: 20px;">
            {{ brand.description }}
        </p>
    
    {% elif categories %}
        {% for cat in categories %}
            {% if not cat.name == "All" %}
                <a href="{{ cat.get_cat_url }}">
                    <button class="brand">
                        <img src="{{ cat.img }}" style="max-width: 260px; min-width: 130px">
                        <h4 class="solid">{{ cat.name }}</h4>
                    </button>
                    
                </a>
            {% endif %}
        {% endfor %}
    
    {% elif subCats %}
        {% for subCat in subCats %}
            <a href="{{ subCat.get_absolute_url }}">
                <!--<p class="solid" style="font-size: 11px">{{ subCat.name }}</p>-->
                <button class="brand">
                    <img src="{{ subCat.img }}" style="max-width: 260px; min-width: 130px">
                    <h4 class="solid">{{ subCat.name }}</h4>
                </button>
            </a>
        {% endfor %}
        
    {% elif delivery %}
        <div class="delivery">
            <h1>Доставка и оплата</h1>
            <br><h5>Наша служба доставки работает в будний день с 09.00-21.00, в выходные дни – по согласованию с менеджером. Отправки во все города Украины с пн-пт до 19.00.</h5>
            <la class="solid"><h4>Стоимость доставки:</h4>
                <li>по г. Киев от 1000 грн. — полностью бесплатная!</li>
                <li>по г. Киев до 1000 грн. – 40 грн.</li>
                <li>по Украине при изаказе от 1000 грн. — полностью бесплатная доставка (на отделения Новой Почты, Приватбанка, и курьерская доставка)</li>
                <li>по Украине при изаказе до 1000 грн – согласно тарифам компаний перевозчиков.</li>
            </la>
            <p>Исключением являются оптовые габаритные заказы. Стоимость доставки по Украине в таких случаях расчитывается по тарифам службы перевозок.</p>
            <br><h2>Оплата заказа</h2><br>
            <la class="solid"><h4>Наличными курьеру</h4>
                <li>Оплата производится в согласованное с вами время по указаному адресу. Этот вариант оплаты возможен только в Киеве.</li>
            </la><br>
            <la class="solid"><h4>Наличными в офисе</h4>
                <li>Оплата производится при получении заказа  в офисе самовывоза. Этот вариант оплаты возможен только в Киеве.</li>
            </la><br>
            <la class="solid"><h4>Наоженным платежом</h4>
                <li>Если вы находитесь в другом городе, вы можете оплатить ваш заказ при получении на терминале компании грузоперевозчика (Міст Експрес, Нова Пошта). 
                    Эта услуга стоит 1,5%-2% от стоимости вашего заказа + комисия перевозчика за отправку денег обратно в Киев.</li>
                <li>Если вы выбираете доставку нашим курьером до двери, то стоимость наложенного платежа составит 1,5% от стоимости товара + 5 грн.</li>
                <li>В терминале Приватбанка при получении посылки в ячейках на отделении Приватбанка – до 1000 грн. без комиссии, свыше 1000 грн. – 2% комиссия.</li>
            </la><br>    
            <la class="solid"><h4>Безналичный платёж на карту</h4>
                <li>После согласования заказа мы присылаем вам СМС с номером карты и суммой, которую вы можете оплатить он-лайн или в любом отделении АПТ “Приватбанк”.</li>    
            </la><br>
            <la class="solid"><h4>Безналичный платёж для физических лиц</h4>  
                <li>После согласования заказа мы присылаем вам счет, который вы можете оплатить в любом банке.</li>
            </la><br>
            <la class="solid"><h4>Безналичный платёж для юридических лиц</h4>
                <li>Сумма заказа больше 1000 грн</li>
                <li>После обмена документами вы оплачиваете счет, после чего мы уточняем с вами время и место доставки.</li>
                <li>Возможна оплата как с НДС (+10% к стоимости), так и без НДС (ФОП 2-я группа, +5% от стоимости).</li>
            </la><br>
            <h2>Оплата заказа</h2><br>
            
        </div>
    {% endif %}
    
</div>